.picker {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  
  .name-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .resName {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .resName.fade-in {
    opacity: 1;
    transform: scale(1);
  }
  
  .names2pick {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nameList {
    list-style-type: none;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .nameList li label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  