/* Fonts */

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* Dark Mode */
  /* primary */
  --primary-a0: #cd5e13;
  --primary-a10: #d67031;
  --primary-a20: #de824a;
  --primary-a30: #e69463;
  --primary-a40: #eca57c;
  --primary-a50: #f2b795;

  /* surface */
  --surface-a0: #121212;
  --surface-a10: #282828;
  --surface-a20: #3f3f3f;
  --surface-a30: #575757;
  --surface-a40: #717171;
  --surface-a50: #8b8b8b;

  /* tonal surface */
  --tonal-a0: #241a14;
  --tonal-a10: #392f29;
  --tonal-a20: #4f4540;
  --tonal-a30: #665d58;
  --tonal-a40: #7d7672;
  --tonal-a50: #96908c;
}

body {
  font-family: "Montserrat", sans-serif;
}

html[data-theme="dark"] main {
  background-color: var(--surface-a0);
  color: var(--tonal-a50);
}

html[data-theme="light"] main {
  background-color: white;
  color: white;
}

main {
  margin-top: 71px;
  padding: 2rem;
  height: calc(100vh - 71px - 100px);
  background-color: var(--surface-a0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--surface-a10);
  padding: 1rem;
}

html[data-theme="light"] main .container {
  background-color: var(--surface-a40);
}

input {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  border: 1px solid var(--primary-a0);
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

button:not(.toggle) {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: var(--primary-a0);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

button:not(.toggle):hover {
  transform: translateY(-3px);
}

button:not(.toggle):active {
  transform: translateY(2px);
}
